# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# vim
.*.sw*

# I'm using razer-test as a baseline for
# some things I'm building into rzswitchblade --
# maybe one day I'll remove it (or use it better)
razer-test.c

# test- programs should not be shown
test-*

